.Charm{
    display: inline;
}
.charms{
display: flex;
justify-content: center;
  background-color: rgb(12, 12, 43);
}
.charmItem{
    margin: 0 40% 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust as needed */
    align-items: center;
    width: 30%;
  background-color: blue;
}